.section {
  background-color: var(--background);
  padding: clamp(30px, 10vw, 60px) 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.header {
  margin-bottom: 80px;
}
.subTag {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.line {
  height: 1px;
  background-color: var(--black);
}
.sloganArea {
  display: flex;
  margin-bottom: 120px;
}
.sloganText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: clamp(1.75rem, 4vw, 2.75rem);
  font-weight: 800;
  line-height: 1;
}
.fullRow {
  margin: 0;
}
.starIcon {
  animation: float 4s ease-in-out infinite;
  filter: invert(88%) sepia(31%) saturate(808%) hue-rotate(18deg)
    brightness(108%) contrast(95%);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.inlineRow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.colorChangeText {
  background: linear-gradient(to right, var(--purple) 50%, var(--black) 50%);
  background-size: 200% 100%;
  background-position: 100% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  padding-top: 80px;
  border-top: 1px solid #eee;
}

.starSymbol {
  font-size: 10rem;
  color: var(--black);
  display: flex;
  justify-content: center;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.descContent {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #333;
  font-weight: 500;
}

.descFooter {
  font-size: 1.3rem;
  font-weight: 800;
}

.purpleHighlight {
  color: var(--purple);
  font-weight: 700;
}

@media (max-width: 960px) {
  .bottomGrid {
    grid-template-columns: 1fr;
  }
}
