.section {
  background: var(--black);
  color: var(--white);
  padding: clamp(20px, 10vw, 40px) 0;
  transition: all 0.3s ease;
  margin-left: -6px;
  margin-right: -6px;
  border-radius: 1.25rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto clamp(2rem, 5vw, 4.5rem);
  padding: 0 clamp(2rem, 5vw, 2.5rem);
}

.whiteBackground {
  background-color: #fafafa !important;
  color: var(--black) !important;
}

.whiteBackground h2 {
  color: var(--black) !important;
}

.headingWrap {
  position: relative;
  margin-top: 30px;
  display: inline-block;
}

.heading {
  position: relative;
  font-size: clamp(2.5rem, 8vw, 5rem);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.04em;
  z-index: 1;
}

.dot {
  position: absolute;
  left: -10px;
  top: -15px;
  width: 50px;
  height: 50px;
  background-color: #e2f157;
  border-radius: 50%;
  z-index: -1;
  animation: floatAndScale 4s infinite ease-in-out;
}

.highlight {
  color: var(--black);
}

@keyframes floatAndScale {
  0% {
    transform: translate(0, 0) scale(0.8);
  }
  50% {
    transform: translate(5px, -10px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(0.8);
  }
}

.topGrid {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: clamp(20px, 8vw, 40px);
}

.titleArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.highlight {
  color: var(--text-gray);
}

.year {
  font-size: clamp(1.5rem, 6vw, 4rem);
  color: var(--text-gray);
  font-weight: 700;
  line-height: 0.85;
  margin-bottom: 5px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.cardWrapper {
  width: 49%;
  height: auto;
}

.cardContent {
  width: 100%;
  aspect-ratio: 1.3 / 1;
  background: #111;
  border-radius: clamp(12px, 2vw, 24px);
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.cardHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: clamp(40px, 5vw, 52px);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.arrow {
  z-index: 10;
  cursor: pointer;
  background-color: #70707026;
  border: 1px solid #70707026;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.35s;
  display: flex;
  color: var(--white);
}

.name {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--white);
  text-transform: uppercase;
}

.sep {
  color: var(--white);
  margin: 0 5px;
  opacity: 0.3;
}

.cat {
  font-size: 0.75rem;
  color: var(--gray);
}

.imgBox {
  width: 100%;
  height: 100%;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  perspective: 1000px;
  pointer-events: none;
  overflow: visible;
}

.logoItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.logo {
  z-index: 2;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: left;
  margin-top: clamp(60px, 10vw, 100px);
  padding-bottom: 40px;
}

.allProjectsBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--white);
  color: var(--black);
  padding: 1rem 1.75rem;
  border-radius: 100px;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: 1px solid var(--white);
  transition: all 0.3s ease;
}

.btnIcon {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allProjectsBtn:hover {
  background-color: var(--black);
  color: var(--white);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.whiteBackground .allProjectsBtn {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.whiteBackground .allProjectsBtn:hover {
  background-color: var(--white);
  color: var(--black);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* 살짝 밑줄 추가 시 */
}

.link:hover {
  color: #cccccc;
}

.whiteBackground .link {
  color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.whiteBackground .link:hover {
  color: #666;
}

@media (max-width: 768px) {
  .dot {
    width: 30px;
    height: 30px;
    left: -15px;
    top: -10px;
  }

  .arrow {
    width: 1.85rem;
    height: 1.85rem;
  }

  .btnIcon {
    width: 18px;
    height: 18px;
  }

  .allProjectsBtn {
    padding: 0.85rem 1.25rem;
    font-size: 0.8rem;
  }

  .logoContainer {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 850px) {
  .topGrid {
    align-items: flex-start;
  }
  .cardWrapper {
    width: 100%;
  }
}
